<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name_1"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.P2P_Copier_NoAction"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.BiometricLockActivity"
            android:exported="false"
            android:theme="@style/Theme.P2P_Copier_NoAction" />
        <activity
            android:name=".activities.Handle_Files"
            android:exported="true"
            android:theme="@style/Theme.P2P_Copier_NoAction" />
        <activity
            android:name=".activities.Auth_New_Or_Continue"
            android:exported="false" />
        <activity
            android:name=".activities.Handle_Text_2_Image"
            android:exported="false"
            android:theme="@style/Theme.P2P_Copier_NoAction" />
        <activity
            android:name=".activities.Handle_Texts"
            android:exported="false"
            android:theme="@style/Theme.P2P_Copier_NoAction" />
        <activity
            android:name=".activities.AuthSession"
            android:exported="false" />
        <activity android:name=".activities.Regista" />
        <activity
            android:name=".splash.Splasher"
            android:exported="true"
            android:theme="@style/Theme.P2P_Copier_NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>